body {
    text-align: center;
    font-family: 'Verdana';
    background-image: url('https://images.wallpapersden.com/image/download/winter-trees-snow-season_am5uaGeUmZqaraWkpJRqaWxnrWhrZWs.jpg');
    background-size: cover;
}